n8n/04-yard-geocoding.json
{
  "name": "04 - Yard Geocoding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "geocode-yard",
        "responseMode": "onReceived"
      },
      "id": "geocode-webhook",
      "name": "Geocode Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "fullAddress",
              "value": "={{$json.addressLine1}}, {{$json.addressLine2 ? $json.addressLine2 + ', ' : ''}}{{$json.town}}, {{$json.county ? $json.county + ', ' : ''}}{{$json.postcode}}"
            }
          ]
        }
      },
      "id": "build-address",
      "name": "Build Full Address",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/geocode/json",
        "qs": {
          "address": "={{$json.fullAddress}}",
          "key": "={{$env.GOOGLE_MAPS_API_KEY}}",
          "region": "gb"
        },
        "options": {}
      },
      "id": "google-geocode",
      "name": "Google Geocoding API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "value2": "OK"
            }
          ]
        }
      },
      "id": "check-result",
      "name": "Check Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{$env.APP_URL}}/api/n8n/geocode-result",
        "method": "POST",
        "body": {
          "yardId": "={{$node['Geocode Trigger'].json.yardId}}",
          "latitude": "={{$json.results[0].geometry.location.lat}}",
          "longitude": "={{$json.results[0].geometry.location.lng}}",
          "formattedAddress": "={{$json.results[0].formatted_address}}",
          "placeId": "={{$json.results[0].place_id}}"
        },
        "headers": {
          "Authorization": "Bearer {{$env.N8N_API_KEY}}"
        },
        "options": {}
      },
      "id": "update-yard",
      "name": "Update Yard Coordinates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "url": "={{$env.APP_URL}}/api/n8n/geocode-result",
        "method": "POST",
        "body": {
          "yardId": "={{$node['Geocode Trigger'].json.yardId}}",
          "latitude": 0,
          "longitude": 0
        },
        "headers": {
          "Authorization": "Bearer {{$env.N8N_API_KEY}}"
        },
        "options": {
          "ignore-ssl-issues": true
        }
      },
      "id": "mark-failed",
      "name": "Mark Geocode Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Geocode Trigger": {
      "main": [[{ "node": "Build Full Address", "type": "main", "index": 0 }]]
    },
    "Build Full Address": {
      "main": [[{ "node": "Google Geocoding API", "type": "main", "index": 0 }]]
    },
    "Google Geocoding API": {
      "main": [[{ "node": "Check Result", "type": "main", "index": 0 }]]
    },
    "Check Result": {
      "main": [
        [{ "node": "Update Yard Coordinates", "type": "main", "index": 0 }],
        [{ "node": "Mark Geocode Failed", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {},
  "tags": [{ "name": "phase5" }]
}
