n8n/05-route-planning.json
{
  "name": "05 - Route Planning",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "plan-routes",
        "responseMode": "onReceived"
      },
      "id": "route-webhook",
      "name": "Route Planning Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{$env.APP_URL}}/api/n8n/route-planning/generate",
        "method": "POST",
        "body": {
          "targetDate": "={{$json.targetDate || ''}}"
        },
        "headers": {
          "Content-Type": "application/json",
          "Authorization": "=Bearer {{$env.N8N_API_KEY}}"
        },
        "options": {}
      },
      "id": "generate-proposals",
      "name": "Generate Route Proposals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.proposalCount}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-proposals",
      "name": "Has Proposals?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "const proposals = items[0].json.proposals;\nconst results = proposals.map(p => ({\n  json: {\n    routeRunId: p.routeRunId,\n    runDate: p.runDate,\n    totalStops: p.totalJobs,\n    totalHorses: p.totalHorses,\n    score: p.optimizationScore\n  }\n}));\nreturn results;"
      },
      "id": "format-results",
      "name": "Format Results",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "={{$env.APP_URL}}/api/n8n/route-proposal",
        "method": "POST",
        "body": {
          "routeRunId": "={{$json.routeRunId}}",
          "runDate": "={{$json.runDate}}",
          "stops": []
        },
        "headers": {
          "Authorization": "Bearer {{$env.N8N_API_KEY}}"
        },
        "options": {}
      },
      "id": "store-route",
      "name": "Store Route Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {},
      "id": "no-routes",
      "name": "No Routes Generated",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Route Planning Trigger": {
      "main": [[{ "node": "Generate Route Proposals", "type": "main", "index": 0 }]]
    },
    "Generate Route Proposals": {
      "main": [[{ "node": "Has Proposals?", "type": "main", "index": 0 }]]
    },
    "Has Proposals?": {
      "main": [
        [{ "node": "Format Results", "type": "main", "index": 0 }],
        [{ "node": "No Routes Generated", "type": "main", "index": 0 }]
      ]
    },
    "Format Results": {
      "main": [[{ "node": "Store Route Run", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {},
  "tags": [{ "name": "phase5" }]
}
